/* THE ENTIRE CONTAINER */
.data-input-container{
    -fx-background-color: #2C2C37;
}


/* THE HEADER AREA */
.logo-icon{
    -fx-fill: #2F5F00;
}

.separator .line{
    -fx-border-color: #FEFDAF;
    -fx-border-width: 1px;
}


/* ICONS FOR LABELS */
.label-icon{
    -fx-fill: #FEFDAF;
}


/* TEXT FIELDS */
.text-field{
    -fx-prompt-text-fill: #999999;
    -jfx-focus-color: #FEFDAF;
    -jfx-unfocus-color: #22282f;
    -fx-text-fill: #F5F5F5;
}

.text-field:focused{
    -fx-prompt-text-fill: transparent;
}


/* LIST VIEWS */
.jfx-list-view, .list-cell{
    -fx-background-color: #1E1E26;
    -fx-background-radius: 2px;
    -fx-padding: 0px 2px;
}

/* STANDARD BUTTONS */
.main-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #FEFDAF;
    -fx-border-radius: 10px;
    -fx-text-fill: #FEFDAF;
}


/* VALIDATION ERROR CONTAINERS */
.error-container{
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: #d80f0f;
}