.welcome-container{
    -fx-background-color: #2C2C37;
}

.logo-icon{
    -fx-fill: #2F5F00;
}

.separator .line{
    -fx-border-color: #FEFDAF;
    -fx-border-width: 1px;
}

.main-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #FEFDAF;
    -fx-border-radius: 10px;
    -fx-text-fill: #B1B3B2;
}

.main-btn-con{
    -fx-fill: #00ACAC   ;
}