/* COMMON */
.main-text{
    -fx-text-fill: #b1b3b2;
}

.main-icon{
    -fx-fill: #FEFDAF
}

/* MOWER DISPLAY INFO */
.mower-info-container{
    -fx-border-color: #FEFDAF;
    -fx-border-radius: 5px;
}

/* GRASS OR EMPTY CELLS */
.grass{
    -fx-background-color: #41414b, #013220;
    -fx-background-insets: 0, 1;
}

.empty{
    -fx-background-color: #41414b, #1E1E26;
    -fx-background-insets: 0, 1;
}

/* SPECIAL ICONS */
.gopher-icon{
    -fx-fill: #eed202;
}

.charger-icon{
    -fx-fill: #07f4ff;
}